<!doctype html>
	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  		<link rel="stylesheet" type="text/css" href="style.css">
      <meta charset="utf-8"/>
	</head>

  <body>

    <div class="nav-bar"></div>

    <div id="app">

     <div class="product">

       <div class="product-image">
           <img :src="image"/>
       </div>
      
       <div class="product-info">

           <h1>{{ product }}</h1>

           <p v-if="inStock">In stock</p>
           <p v-else>Out of stock!</p>

           <ul>
              <li v-for="detail in details">{{ detail }}</li>
           </ul>

           <div class="color-box"
                v-for="variant in variants" 
                :key="variant.variantId"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProductImage(variant.variantImage)"
                >
           </div>
            
           <button @click="addToCart">Add to Cart</button>

           <button @click="rmFromCart">Remove from Cart</button>

           <div class="cart">
             <p>Cart({{cart}})</p>
           </div>

      </div>
    </div>
  </div>

</body>

 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 
 <script src="main.js"></script>

</html>
